In [73]:
import MySQLdb
import _mysql
import numpy as np
import csv
import pandas as pd
import csv
import os

In [74]:
## Get the HID's in this batch


with open('hit.results', 'rb') as csvfile:
    HIDs=np.array([])
    MIDs=np.array([])
    reader = csv.reader(csvfile, delimiter='\t')
    for r,row in enumerate(reader):
        if r==0:
            header=row
        else:
            # get their completion code 
            entered_completion_code = row[header.index('Answer.comment')]
            MID = row[header.index('workerid')]
            HID = row[header.index('hitid')]
            MIDs = np.append(MIDs,MID)
            HIDs = np.append(HIDs,HID)

print HIDs
print MIDs

['31SIZS5W59KMOJ4TBW2RE9VE6NEQRC' '3X4Q1O9UBHR9LO7YN5CHKN9EQA2O73'
 '31JUPBOORN95FH9KKIOV661F6P3L86']
['A2GIYY77IUO78U' 'A2GIYY77IUO78U' 'A2GIYY77IUO78U']

In [75]:

## Get All  Participants 

## Connect to DB
db=_mysql.connect(host="christest.c5s5wgavsyu2.us-west-2.rds.amazonaws.com",user="christest",
                  passwd="gags1313",db="chrisdb")

db.query("""SELECT column_name FROM information_schema.columns WHERE table_name = 'web_experiments_participant'""")
r=db.store_result() # sends the whole results
header = r.fetch_row(0)
header = [hh[0] for hh in header]
print(header)

['id', 'MID', 'start_date', 'start_time', 'completion_code', 'completed', 'progress', 'total_tasks', 'tasks', 'counterbalance', 'session_id', 'AID', 'HID']

In [76]:
os.remove('participant_table.csv')
with open('participant_table.csv', 'w') as csvfile:
    writer = csv.writer(csvfile, delimiter=',',quotechar='"', quoting=csv.QUOTE_MINIMAL)
    writer.writerow(header)

    for m,MID in enumerate(MIDs):
        HID = HIDs[m]
        db.query("""SELECT * FROM web_experiments_participant WHERE (MID = '"""+str(MID)+"""') AND (HID = '"""+str(HID)+"""')""")
        r=db.store_result() # sends the whole results
        rows = r.fetch_row(100)
        print(m)
        print(rows)

        if len(rows)>0:
            writer.writerow([x for x in rows[0]])

0
(('146', 'A2GIYY77IUO78U', '2016-03-23 18:25:46', '1458757546', '5LN0WPZcIU', '0', '0', '4', 'survey_STAI_State,survey_STAT_Trait,survey_BDI,survey_MASQ', '10', 'TrjB', '358UUM7WR08E5LX85ZYN32901GO7R3', '31SIZS5W59KMOJ4TBW2RE9VE6NEQRC'),)
1
()
2
(('147', 'A2GIYY77IUO78U', '2016-03-23 18:26:18', '1458757578', 'iozDN2nq1M', '0', '0', '1', 'experiment_bandit_loss', '1', 'skw6', '336KAV9KYRXGGLCODI9MF7LPTNH2YK', '31JUPBOORN95FH9KKIOV661F6P3L86'),)

In [77]:
df = pd.read_csv('participant_table.csv')
df

,id,MID,start_date,start_time,completion_code,completed,progress,total_tasks,tasks,counterbalance,session_id,AID,HID
0,146,A2GIYY77IUO78U,2016-03-23 18:25:46,1458757546,5LN0WPZcIU,0,0,4,"survey_STAI_State,survey_STAT_Trait,survey_BDI...",10,TrjB,358UUM7WR08E5LX85ZYN32901GO7R3,31SIZS5W59KMOJ4TBW2RE9VE6NEQRC
1,147,A2GIYY77IUO78U,2016-03-23 18:26:18,1458757578,iozDN2nq1M,0,0,1,experiment_bandit_loss,1,skw6,336KAV9KYRXGGLCODI9MF7LPTNH2YK,31JUPBOORN95FH9KKIOV661F6P3L86