In [26]:
import numpy as np
import csv
import pandas as pd
import csv
import os
df = pd.read_csv('participant_table.csv')
df

,id,MID,start_date,start_time,completion_code,completed,progress,total_tasks,tasks,counterbalance,session_id,AID,HID
0,146,A2GIYY77IUO78U,2016-03-23 18:25:46,1458757546,5LN0WPZcIU,0,0,4,"survey_STAI_State,survey_STAT_Trait,survey_BDI...",10,TrjB,358UUM7WR08E5LX85ZYN32901GO7R3,31SIZS5W59KMOJ4TBW2RE9VE6NEQRC
1,147,A2GIYY77IUO78U,2016-03-23 18:26:18,1458757578,iozDN2nq1M,0,0,1,experiment_bandit_loss,1,skw6,336KAV9KYRXGGLCODI9MF7LPTNH2YK,31JUPBOORN95FH9KKIOV661F6P3L86

In [49]:
df_amt = pd.read_table('hit.results')
df_amt

,hitid,hittypeid,title,description,keywords,reward,creationtime,assignments,numavailable,numpending,...,assignmentstatus,autoapprovaltime,assignmentaccepttime,assignmentsubmittime,assignmentapprovaltime,assignmentrejecttime,deadline,feedback,reject,Answer.comment
0,31SIZS5W59KMOJ4TBW2RE9VE6NEQRC,3UMLY1W0PYFALPU2I5P5YMLWVMT7KX,Psychology Decision Making Experiments ${tasks},You will take a 30 minute psychology experimen...,"psychology, experiment, decision making,",$5.00,Wed Mar 23 11:23:15 PDT 2016,5,4,0,...,Submitted,Sat Mar 26 11:26:08 PDT 2016,Wed Mar 23 11:24:37 PDT 2016,Wed Mar 23 11:26:08 PDT 2016,NaN,NaN,NaN,NaN,NaN,complete\n
1,3X4Q1O9UBHR9LO7YN5CHKN9EQA2O73,3UMLY1W0PYFALPU2I5P5YMLWVMT7KX,Psychology Decision Making Experiments ${tasks},You will take a 30 minute psychology experimen...,"psychology, experiment, decision making,",$5.00,Wed Mar 23 11:23:15 PDT 2016,5,4,0,...,Submitted,Sat Mar 26 11:26:50 PDT 2016,Wed Mar 23 11:26:30 PDT 2016,Wed Mar 23 11:26:50 PDT 2016,NaN,NaN,NaN,NaN,NaN,asdf\n
2,31JUPBOORN95FH9KKIOV661F6P3L86,3UMLY1W0PYFALPU2I5P5YMLWVMT7KX,Psychology Decision Making Experiments ${tasks},You will take a 30 minute psychology experimen...,"psychology, experiment, decision making,",$5.00,Wed Mar 23 11:23:16 PDT 2016,5,4,0,...,Submitted,Sat Mar 26 11:26:26 PDT 2016,Wed Mar 23 11:26:14 PDT 2016,Wed Mar 23 11:26:26 PDT 2016,NaN,NaN,NaN,NaN,NaN,asdf\n

In [51]:
for i in df_amt.index:
    
    completion_code = df.loc[(df['MID']==df_amt.loc[i,'workerid'])&(df['HID']==df_amt.loc[i,'hitid']),'completion_code'].as_matrix()
    entered_completion_code = df_amt.loc[i,'Answer.comment']
    entered_completion_code = entered_completion_code.strip('\n')
    
    print(completion_code)
    print(entered_completion_code)
    print('')
    
    if (completion_code!=entered_completion_code) or (not completion_code):
        df_amt.loc[i,'reject']=1
    else:
        df_amt.loc[i,'reject']=''

['5LN0WPZcIU']
complete

[]
asdf

['iozDN2nq1M']
asdf

In [52]:
df_amt.to_csv('hit.results_checked',sep='\t')

In [54]:
df_amt['reject']

0    1
1    1
2    1
Name: reject, dtype: object